
{% extends "website/../base.html" %}
{% load static %}

{% block title %}Ideas{% endblock %}

{% block head %}
    <style>
        #ideas {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }

        #ideas td, #ideas th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #ideas tr:nth-child(even){
            background-color: #e2e2e2;
            color:black}

        #ideas tr:hover {background-color: #ddd;}

        #ideas th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:indianred;
            color: white;
        }

        table{
            margin: 20px;
        }
    </style
{% endblock %}
{% block body %}

    <style>
        p {margin-left: 80px;}
        a {margin-left: 30px;}
        h1 {margin-left: 80px;}
        h4 {margin-left: 80px;}

    </style>

    <h1>{{ idea.request_text }}</h1>
    <ul>
        <p>{{ idea.description }}</p>
    </ul>
 {% if user.is_authenticated %}
     <a style="font-size: 20px" href="{% url 'website:idea_form'%}"> Change </a>
     <a style="font-size: 20px" href="{% url 'website:idea_form'%}"> Delete </a>
 {% else %}
     <a style="font-size: 30px" href="{% url 'login'%}">Login to submit your own Idea!</a>
 {% endif %}


{% endblock %}