
{% extends "website/../base.html" %}
{% load static %}

{% block title %}Submit Idea{% endblock %}

{% block container %}
<form method="post" novalidate>
  {% csrf_token %}
  <table class="table" border="1">
      <thead>
        <div class="container">
            <h1>Submit your idea here!</h1> <br>

        </div>
      </thead>
      <tbody>
      <tr>
          {{ form }}
         <!-- <input type="hidden" name="user" value="{{ user}}"> -->
      </tr>
      </tbody>
  </table>
    <div class="container">
        <button class="btn btn-info" type="submit">Submit</button>

    </div>
</form>
   <!-- 'You already submitted a request! Do you want to delete it?' -->


{% endblock %}

