
{% extends "website/base.html" %}
{% load static %}

{% block title %}Ideas{% endblock %}

{% block head %}
    <style>
        #ideas {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }

        #ideas td, #ideas th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #ideas tr:nth-child(even){
            background-color: #e2e2e2;
            color:black}

        #ideas tr:hover {background-color: #ddd;}

        #ideas th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:indianred;
            color: white;
        }

        table{
            margin: 20px;
        }
    </style
{% endblock %}
{% block body %}

<a style="font-size: 30px" href="{% url 'website:createIdea'%}"> Submit your own Idea! </a>

{% if idea_list %}
     <table id="ideas">
          <tr>
            <th>Version</th>
            <th>Request</th>
            <th>User</th>
            <th>Date</th>
          </tr>
    {% for idea in idea_list %}
        <tr>
            <td>{{ idea.version.label }}</td>
            <td>{{ idea.description }}</td>
            <td>{{ idea.player.username}}</td>
            <td>{{ idea.pub_date.day }}.{{ idea.pub_date.month }}.{{ idea.pub_date.year }} {{ idea.pub_date.time }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No history available.</p>
{% endif %}
{% endblock %}