
{% extends "website/../base.html" %}


{% load static %}

{% block head %}

{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />
{% block body %}
    <style>
        p {margin-left: 80px;}
        h1 {margin-left: 80px;}
        h4 {margin-left: 80px;}

    </style>
<h1> Welcome to CrowdJump!  </h1>
<h4> <br>The goal is simple: Control the ball the left and right arrow keys and press up or space to jump and try to reach the flag!<br>
</h4>
<p>
    While the game may seem pretty simple, you can submit feature requests to improve the game according to your wishes.<br>
    At the moment, every version a random idea will be chosen. You wish you could influence, what Idea will be implemented next? <br>
    You can not only submit ideas for game features but also for general things like a new voting system or a method to communicate!</br>
</p>

{% endblock %}