{% extends "website/../base.html" %}
{% load static %}
{% block title %}Crowdjump Game{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />

{% block head %}

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="minimal-ui">

    <script src="{% static "website/js/phaser.js" %}"></script>

    <script src="{% static "website/js/startmenu.js" %}"></script>
    <script src="{% static "website/js/game.js" %}"></script>
    <script src="{% static "website/js/endscreen.js" %}"></script>
    <script src="{% static "website/js/boot.js" %}"></script>
    <script src="{% static "website/js/preloader.js" %}"></script>

{% endblock %}
{% block body %}
    <meta charset="utf-8">

    <script src="{% static "website/js/main.js" %}"></script>

    <style>
        canvas {
            {#margin: 0 auto;#}
            left:50%;margin-left:-20px;
        }
    </style>

<div class="container"  style="max-width: 1000px">
    <h4> The goal is simple: Control the alien by using the arrow keys to move (or space to jump) to get to the flag<br>
         If you get stuck, you can reset the game pressing R. <br><br>

        Too easy? Submit new ideas!
    </h4>
</div>

    <div id="game"></div>

{% endblock %}
