{% extends "website/../base.html" %}
{% load static %}
{% block title %}Crowdjump Game{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />

{% block head %}

{% endblock %}
{% block body %}
    <meta charset="utf-8">

    <script src="{% static "website/js/phaser.min.js" %}"></script>
    <script src="{% static "website/js/game.js" %}"></script>

    <style>
        canvas {
            margin: 0 auto;
        }
    </style>


    <div id="game"></div>

{% endblock %}
