{% extends "base.html" %}

{% block container %}
{#    <style>#}
{#        p {margin-left: 80px;}#}
{#        h1 {margin-left: 80px;}#}
{#        h4 {margin-left: 80px;}#}
{##}
{#    </style>#}

{% if form.errors %}

{% if not user.active and user.username != ''%}
    <p>Please click the link in your activation email</p>
{% else %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
<p>You are already logged in!</p>
{% else %}

    <div class="container-fluid">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}


         <div class="row">
             <div class="col-sm-1">user</div>
             <div class="col-sm-1">{{ form.username }}</div>
        </div>

        <div class="row">
{#          <td>{{ form.password.label_tag }}</td>#}
            <div class="col-sm-1">password</div>
            <div class="col-sm-1">{{ form.password }}</div>
        </div>
        <br>
        <div>
          <button class="btn btn-info" type="submit" value="login" >login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        </form>


        <div class="row">
            <div class="col-sm-2"><a href="{% url 'website:signup' %}">Sign up</a></div>
            <div class="col-sm-2"><a href="{% url 'password_reset' %}">Lost password?</a></div>
        </div>
        {# Assumes you setup the password_reset view in your URLconf #}
    </div>


{% endif %}


{% endblock %}