
<html ng-app="Crowdjump">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Crowdjump{% endblock %} </title>

    {% load static %}
    {% load base_extras %}
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    {% block head %}

    {% endblock %}

    <base href="/">
</head>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">

        <!-- Header -->
      <a class="navbar-brand" href="{% url 'website:index'%}">Home</a></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
{#                    <a class="nav-link" href="{% url "website:phasergame" %}">Game</a>#}
                    <a class="nav-link" ui-sref="game">Game</a>
                </li>
                <li class="nav-item">
{#                    <a class="nav-link" href="{% url "website:ideas" %}">Ideas</a>#}
                    <a class="nav-link" ui-sref="ideas">Ideas</a>
                </li>
                <li class="nav-item">
{#                    <a class="nav-link" href="{% url "website:history" %}">History</a>#}
                    <a class="nav-link" ui-ref="history">History</a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: red" href="{% url 'index'%}">{{ user.get_username }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">
                        <span class="fa fa-sign-out" aria-hidden="true"></span>&nbsp; Logout </a>
                    </li>
                {% else %}
                    <li class="">
                        <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">
                        <span class="" aria-hidden="true"></span>&nbsp; Login </a>

                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav><br>


<body ng-app="Crowdjump">

{% block jumbo %}
{% endblock %}

<div class="container">

{% block container %}
{% endblock %}

</div>

{% block body %}
{% endblock %}

<script type="text/javascript" src="{% static 'website/js/myangular.js' %}"></script>
</body>

</html>