

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Crowdjump{% endblock %} </title>

    {% load static %}
    {% load base_extras %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block head %}

    {% endblock %}
</head>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" date-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-Brand" href="{% url 'website:index'%}">Home</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class ="nav navbar-nav">
                <li class="{% active_page request "phasergame" %}">
                    <a href="{% url "website:phasergame" %}">
                        <span class="" aria-hidden="true"></span>&nbsp;Game</a>
                </li>
                <li class="{% active_page request "history" %}">
                    <a href="{% url "website:history" %}">
                        <span class="" aria-hidden="true"></span>&nbsp;History</a>
                </li>
                <li class="{% active_page request "ideas" %}">
                    <a href="{% url "website:ideas" %}">
                        <span class="" aria-hidden="true"></span>&nbsp;Ideas</a>
                </li>
            </ul>


            <ul class ="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'website:phasergame'%}">
                        <span class="" aria-hidden="true"></span>&nbsp;Deutsch </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="">
                        <a style="color: red" href="{% url 'index'%}">
                        <span class="" aria-hidden="true"></span>&nbsp; {{ user.get_username }} </a>
                    </li>
                    <li class="">
                        <a href="{% url 'logout'%}?next={{request.path}}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'login'%}?next={{request.path}}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login </a>

                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

<style>
    p {margin-left: 0px;}
    a {margin-left: 0px;}
    h1 {margin-left: 0px;}
    h4 {margin-left: 0px;}

    article {
        margin-left: 0px;
        margin-right: 00px;
        border-left: 0px solid gray;
        border-right: 1px solid gray;
        padding: 1em;
        overflow: hidden;
    }

</style>
{% block body %}
{% endblock %}
